.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 20px;
}

.header .logo img {
  width: 100px;
}

.header .logo span {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-family: "Bree Serif", serif;
  opacity: 0.8;
  color: #051641;
  font-weight: bold;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav li a {
  padding: 5px;
  transition: .3s;
  border-bottom: 1px solid transparent;
}

.header-nav li a:hover {
  border-bottom: 1px solid;
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
}